.contents
  .left-content
    .left-content-upper
      .left-content-upper__user test-user
    .left-content-lower
      .left-content-lower__group test-group
      .left-content-lower__first-message test-message
  .right-content
    .right-content-upper
      .right-content-upper-groupmembers
        .right-content-upper-groupmembers__group test-group
        .right-content-upper-groupmembers__members Member : aaa bbb
      .right-content-upper__btn Edit
    .right-content-middle
      .right-content-middle-userdate
        .right-content-middle-userdate__user test-user
        .right-content-middle-userdate__date date-and-time
      .right-content-middle__message こんにちは！
    .right-content-lower